<div>
  <h1>Korkla SetINDEX Web Scraping</h1>
</div>


<script type="text/javascript">
    var stock_name = 'ALLA' // ALLA, TVO
    var last_price
    var value_change
    var percent_change
    var volume
    var low_price
    var high_price


    function getElementByXpath(path, my_document) {
        return document.evaluate(path, my_document, null, XPathResult.FIRST_ORDERED_NODE_TYPE, null).singleNodeValue.innerHTML;
    }
    // -------------------- ดึงข้อมูลเบื้องต้นของหุ้น ---------------------------------------------------------------------------------
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            var my_document = document.createElement('div');
            my_document.innerHTML = this.responseText.trim();

            last_price = getElementByXpath('//*[@id="maincontent"]/div/div[3]/div[1]/table[1]/tbody/tr[2]/td[2]', my_document)
            last_price = last_price.trim().split('>')
            last_price = last_price[2]

            value_change = getElementByXpath('//*[@id="maincontent"]/div/div[3]/div[1]/table[1]/tbody/tr[3]/td[2]/font', my_document)
            percent_change = getElementByXpath('//*[@id="maincontent"]/div/div[3]/div[1]/table[1]/tbody/tr[4]/td[2]/font', my_document)
            volume = getElementByXpath('//*[@id="maincontent"]/div/div[3]/div[1]/table[1]/tbody/tr[9]/td[2]', my_document)
            low_price = getElementByXpath('//*[@id="maincontent"]/div/div[3]/div[1]/table[1]/tbody/tr[8]/td[2]', my_document)
            high_price = getElementByXpath('//*[@id="maincontent"]/div/div[3]/div[1]/table[1]/tbody/tr[7]/td[2]', my_document)

            // นำข้อมูลไปใช้ ณ จุดนี้
            console.log("last_price: " + last_price);
            console.log("value_change: " + value_change);
            console.log("percent_change: " + percent_change);
            console.log("volume: " + volume);
            console.log("low_price: " + low_price);
            console.log("high_price: " + high_price);
        }
    };
    var path_set = "https://cors-anywhere.herokuapp.com/https://marketdata.set.or.th/mkt/stockquotation.do?symbol=" + stock_name + "&ssoPageId=1&language=en&country=US"
    xhttp.open("GET", path_set, true);
    xhttp.send();

    // -------------- ดึง History ของหุ้น --------------------------------------------------
    var list_history_set_index = [] // เก็บ DataHistory ทั้งหมด
    var temp_order_history = [] // ใช้สำหรับเช็คลำดับในการว่า history โหลดเสร็จทั้ง 3 เพจหรือยัง
    var list_history_set_index_page1 = []
    var list_history_set_index_page2 = []
    var list_history_set_index_page3 = []

    var history_xhttp = new XMLHttpRequest();
    history_xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            var my_document = document.createElement('div');
            my_document.innerHTML = this.responseText.trim();
            var rows = my_document.getElementsByTagName("table")[0].rows
            
            for (let i = 1; i < rows.length; i++) {
                var my_row = rows[i];
                var tmp_row = {"date":my_row.cells[0].innerHTML, "volume":my_row.cells[7].innerHTML, "close":my_row.cells[4].innerHTML}
                list_history_set_index_page1.push(tmp_row)
            } 
            checkOrderHistory(1)
        }
    };

    var path_history_set = "https://cors-anywhere.herokuapp.com/https://www.set.or.th/set/historicaltrading.do?symbol=" + stock_name + "&page=0&language=en&country=US&type=trading"
    history_xhttp.open("GET", path_history_set, true)
    history_xhttp.send()

    // -------------------------------------------------------------------------------------------------
    var history_xhttp_2 = new XMLHttpRequest();
    history_xhttp_2.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            var my_document = document.createElement('div');
            my_document.innerHTML = this.responseText.trim();
            var rows = my_document.getElementsByTagName("table")[0].rows
            
            for (let i = 1; i < rows.length; i++) {
                var my_row = rows[i];
                var tmp_row = {"date":my_row.cells[0].innerHTML, "volume":my_row.cells[7].innerHTML, "close":my_row.cells[4].innerHTML}
                list_history_set_index_page2.push(tmp_row)
            }
            checkOrderHistory(2)
        }
    };

    var path_history_set_2 = "https://cors-anywhere.herokuapp.com/https://www.set.or.th/set/historicaltrading.do?symbol=" + stock_name + "&page=1&language=en&country=US&type=trading"
    history_xhttp_2.open("GET", path_history_set_2, true)
    history_xhttp_2.send()
    // -------------------------------------------------------------------------------------------------
    var history_xhttp_3 = new XMLHttpRequest();
    history_xhttp_3.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            var my_document = document.createElement('div');
            my_document.innerHTML = this.responseText.trim();
            var rows = my_document.getElementsByTagName("table")[0].rows
            
            for (let i = 1; i < rows.length; i++) {
                var my_row = rows[i];
                var tmp_row = {"date":my_row.cells[0].innerHTML, "volume":my_row.cells[7].innerHTML, "close":my_row.cells[4].innerHTML}
                list_history_set_index_page3.push(tmp_row)
            }
            checkOrderHistory(3)
        }
    };

    var path_history_set_3 = "https://cors-anywhere.herokuapp.com/https://www.set.or.th/set/historicaltrading.do?symbol=" + stock_name + "&page=2&language=en&country=US&type=trading"
    history_xhttp_3.open("GET", path_history_set_3, true)
    history_xhttp_3.send()
    // -----------------------------------------------------------------------------------------------------

    function checkOrderHistory(index_history) {
        temp_order_history.push(index_history)
        if (temp_order_history.length === 3) {
            list_history_set_index = list_history_set_index_page1.concat(list_history_set_index_page2).concat(list_history_set_index_page3)
            // เอาตัวแปร list_history_set_index  ไปใช้ ณ จุดนี้
            console.log(list_history_set_index);
        }
    }

</script>